*{
    font-family: 'Arima', cursive;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    color: rgb(60, 54, 42);
    background-color: rgb(200, 226, 255);
    

}

.container {
    display: grid;
    grid-template-rows: minmax(10px,8vh) minmax(200px,84vh) minmax(10px,8vh);
    .header {
        background: rgb(60,54,42);
        background: linear-gradient(180deg, rgba(60,54,42,1) 0%, rgba(200, 226, 255,1) 100%);
        h1{
            text-align: center;
            text-shadow: 2px 2px white;
         }
        grid-row: 1;
    }
    .playerSelection {
        justify-items: center;
        align-content: center;
        grid-row: 2;
        p{
            text-align: center;
         }
    }
    .gameBoard {
        justify-items: center;
        align-content: center;
        .player{
            p{
               text-align: center;
            }
        }
        p{
            font-size: 17px;
            font-weight: bold;
            text-align: center;
            text-shadow: 1px 1px white;
         }
        grid-row: 2;
    }
    .footer {
        background: rgb(60,54,42);
        background: linear-gradient(0deg, rgba(60,54,42,1) 0%, rgba(200, 226, 255,1) 100%);
        justify-items: center;
        align-content: center;
        grid-row: 3;
        h4{
            text-align: center;
            text-shadow: 1px 1px white;
         }
    }
}

.playerSelection {
    display: grid;
    .gameType {
        display: grid;
    }
    .twoPNames{
        display: none;
    }
    .onePName{
        display: none;
    }
}


.gameBoard {
    display: none;
    justify-items: center;
    align-content: center;
    #board {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(3,minmax(50px,20vh));
        grid-template-rows: repeat(3,minmax(50px,20vh));
        .square {
            border-radius: 15px;
            border: 2px black solid;
        }
        .X{
            background-color: rgb(255, 0, 105);
        }
        .O{
            background-color: rgb(130, 255, 46);
        }

    }
    .player0{
        .square:hover {
            background-color: rgba(255, 0, 105, 0.719);
        }
        .O:hover {
            background-color: rgb(255, 0, 105);
        }
        .X:hover {
            background-color: rgb(130, 255, 46);
        }
    }
    .player1{
        .square:hover {
            background-color: rgba(130, 255, 46, 0.719);
        }
        .O:hover {
            background-color: rgb(255, 0, 105);
        }
        .X:hover {
            background-color: rgb(130, 255, 46);
        }
    }
}

